Repository garff/simplB: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, black, isort, flake8

.pre-commit-config.yaml:

# .pre-commit-config.yaml

# This file defines the hooks to be run by the pre-commit framework.

# Default repository for backend hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        args: [--no-strict-optional, --ignore-missing-imports]
        files: ^(app/|tests/)

  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: ./frontend/node_modules/.bin/prettier --write
        language: node
        description: Format code with Prettier
        files: \.(js|jsx|ts|tsx|json|css|scss|html|md)$

      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        files: ^(app/|tests/)

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        exclude: ".*/migrations/.*"
        args:
          [
            "--line-length=110",
            "--multi-line=3",
            "--force-grid-wrap=0",
            "--trailing-comma",
            "--use-parentheses",
            "--ensure-newline-before-comments",
          ]

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        files: ^(app/|tests/)

add: dockerfile for frontend repo.
  frontend/Dockerfile
Due: none

add: eslint to precommit.
  .pre-commit-config.yaml
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: prettier

add: components, providers, queries, types.
  backend/app/blog_posts/first_post.md
  backend/app/blog_posts/second_post.md
  backend/app/main.py
  backend/app/utils/utils.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/favicon.ico
  frontend/src/app/layout.tsx
  frontend/src/app/loading.tsx
  frontend/src/app/page.tsx
  frontend/src/components/post/post.tsx
  frontend/src/components/posts/posts.tsx
  frontend/src/providers/reactQuery.tsx
  frontend/src/queries/getPosts.tsx
  frontend/src/types/types.tsx
Due: prettier, isort

refactor: change the error message in posts.tsx.
  frontend/src/components/posts/posts.tsx
Due: prettier

add: sidebar (navigation) component.
  frontend/src/components/sidebar/sidebar.tsx
Due: prettier

add: more dummy blogposts, also add lorem ipsum text too them.
  backend/app/blog_posts/fourth_post.md
  backend/app/blog_posts/second_post.md
  backend/app/blog_posts/third_post.md
Due: prettier

add: sidebar, refactor footer element.
  frontend/src/app/page.tsx
Due: prettier

add: added postitle, an hr after all posts but the last, and lifted postTitle const to posts to be passed as a prop instead.
  frontend/src/components/post/post.tsx
  frontend/src/components/posts/posts.tsx
Due: prettier

fix: add key to sidebar/<aside> child elements.
  frontend/src/components/sidebar/sidebar.tsx
Due: prettier

refactor: small changes to docker file, setup uvicorn in main, add uvicorn to requirements.
  backend/Dockerfile
  backend/app/main.py
  backend/requirements.txt
Due: isort

add: docker compose file content.
  docker-compose.yml
Due: none

fix: eslint complaining during docker buil d, small changes to dockerfile.
  frontend/Dockerfile
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/loading.tsx
  frontend/src/app/page.tsx
  frontend/src/components/post/post.tsx
  frontend/src/providers/reactQuery.tsx
Due: prettier
